*{
    box-sizing: border-box;
}
body{
    background-color:antiquewhite;
}
.header {
    text-align: center;
    background-color: aquamarine;
    padding-bottom: 1vh;
    border: 0.25vw solid black;
}
.header span{
    padding-left: 2%;
    padding-right: 2%;
    font-size: 2vw;

}

.main-home{
    padding: 5vw 5vw 5vw 5vw;
    width: 65%;
    float: left;
    border: 0vw solid black;

}
