*{
    box-sizing: border-box;
}
body{
    background-color:antiquewhite;
}
.header {
    text-align: center;
    background-color: aquamarine;
    padding-bottom: 1vh;
    border: 0.25vw solid black;
}
.header span{
    padding-left: 2%;
    padding-right: 2%;
    font-size: 2vw;

}

.main-home{
    padding: 5vw 5vw 5vw 5vw;
    width: 65%;
    float: left;
    border: 0vw solid black;

}
.main-contact{
    padding: 5vw 5vw 5vw 5vw;
    width: 65%;
    float: left;
    border: 0vw solid black;
}
.main-contact h1{
    text-align: center;
}
.main-contact img{
    padding: 5vw 5vw 5vw 5vw;
    width: 30vw;
    border: 0vw solid black;

}
.main-contact table{
    margin: auto auto auto auto;
}
.main-resume{
    padding: 5vw 5vw 5vw 5vw;
    width: 65%;
    float: left;
    border: 0vw solid black;
    
}
.main-resume p {
    padding-left: 5vw;
}
.main-resume span{
    line-height: 2vw;
}
.main-resume h1{
    text-align: center;
}
.main-resume h3{
    display: inline;
    padding-left: 2.5vw;
}

.avatar{
    width: 35%;
    padding: 5vw 5vw 5vw 5vw;
    float: right;
    border: 0vw solid black;
    
}
.avatar img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.main-myphoto{
    margin-top: 2vh;
    width: 80%;
    height:90vh;
    float: right;
    background-color: blanchedalmond;
    overflow: auto;

}
.main-myphoto::-webkit-scrollbar{
    width: 0px;
}

.main-myphoto h1{
    text-align: center;
}
.main-myphoto h2{
    text-align: center;
}
.main-myphoto img{
    display: block;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 1vh;
    margin-bottom: 1vh;
    border: 0.2vw solid black;
}
.side-myphoto{
    width: 20%;
    margin-top: 2vh;
    height: 90vh;
    float: left;
    background-color: aquamarine;
    border: 0.25vw solid black;
}
.side-myphoto p{
    text-align: center;
}