.header-txt{
    
    padding: 1.5vw;
    font-size: 3vw;
    
}
.header-background{
    text-align: center;
    background-color: aquamarine;
    padding-bottom: 5px;
    border: 3px solid black;
}
.main{
    padding-top: 10px;
}
p{
    color: brown;
    text-indent: 50px;
}